ul{
  list-style: none;
  margin: 0;
  padding: 0;

}

.list {
  display: flex;
  /* width: 1200px; */
  margin: 0 auto;
  outline: 10px solid red;
  width: 75%;
  flex-wrap: wrap;
  border-radius: 20px;
}

.item{
  height: 210px;
  width: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid black;
  font-size: 50px;
  font-weight: 900;
  color: rgb(255, 255, 255);
  flex-grow: 1;
  flex-basis: 150px;
}

.item:nth-child(1) {
  background-color: aqua;
  order: 1;
  flex-basis: 50%;
}
.item:nth-child(2) {
  background-color: rgb(255, 166, 0);
  order: 4;
  flex-basis: 33%;
}
.item:nth-child(3) {
  background-color: rgb(98, 0, 255);
  flex-shrink: 2;
  order: 3;
  flex-basis: 33%;
}
.item:nth-child(4) {
  background-color: rgb(255, 0, 157);
  order: 5;
  flex-basis: 33%;
}
.item:nth-child(5) {
  background-color: rgb(255, 102, 0);
  order:2 ;
  flex-basis: 50%;
}
